:root {
  /* Paleta Editorial */
  --bg-color: #f7f5f2; /* Marfil / Alabaster */
  --bg-light: #ffffff; /* Blanco puro */
  --bg-dark: #181818; /* Negro suave */

  --text-main: #1c1c1c; /* Carbón oscuro */
  --text-muted: #666666; /* Gris para subtítulos */
  --text-white: #f7f5f2;

  --border-color: #d1cdd1; /* Gris muy sutil para líneas */

  /* Tipografía */
  --font-display: "Cormorant Garamond", serif;
  --font-sans: "Montserrat", sans-serif;

  /* Estructura */
  --container-w: 1200px;
  --container-narrow: 700px;
}
